* {

	margin: 0 auto;
	padding: 0 auto;

}

body {

	font-family: arial;
	font-size: 16px;
	line-height: 1.24em;
	letter-spacing: 0.025em;
	background: lightcyan;

}

img {
	
	width: 16em;
	display: inline-block;
	margin-top: 0.5em;
	background: white;
	border: solid 1px gainsboro;

}

#container {

	max-width: 70%;

}

#info {

	top: 0;
	left: 0;
	position: fixed;
	padding: 1.4em 2em;
	z-index: 1;
	font-size: 1em;
	background: transparent;
	color: black;

}

#content {

	padding: 2em;
	color: black;

}

.size {

	display: inline-block;
	margin: 1em;

}

.size > img {

	max-width: 15em;
	max-height: auto;

}

.size > p {

	width: 100%;
	padding-top: 1em;
	text-align: center;

}