* {

	font-family: serif;

}

body {

	background: lightcyan;

}

img {
	
	width: 350px;
	display: block;
	margin-top: 10px;
	background: white;
	border: solid 1px gainsboro;

}

h1, p {

	font-size: 16px;
	font-weight: normal;

}

#container {

	max-width: 70%;

}

#container > img {



}