@font-face {

	font-family: "GrotesqueMT";
	src: url("../assets/fonts/GrotesqueMT.otf"
		);

}

* {

	margin: 0;
	padding: 0;

}

*::selection {

	color: palegreen;

}

body {

	margin: 1.75em 2.5em;
	font-family: GrotesqueMT, arial, sans-serif;
	font-size: 18px;
	line-height: 1.25em;
	letter-spacing: 0.02em;
	background: #b7b8b9;
	color: white;

}

h1 {

	font-size: inherit;
	font-weight: inherit;

}

a {

	position: relative;
	bottom: 2px;
	text-decoration: none;
	color: inherit;
	border-bottom: solid 2px white;

}

a:hover {

	cursor: pointer;
	color: palegreen;
	border-bottom: solid 2px palegreen;

}

p {
	
	max-width: 670px;
	margin: 1em 0 1.5em 0;
	text-indent: 2em;

}

p + p {

    margin-top: -1.5em;

}

li {

	list-style-type: none;
	margin-left: 1em;

}

li > a {

	border-bottom: none;

}

span {

	margin-right: 1em;

}

#top {

	margin-bottom: 1.5em;

}

#container > img {

	margin: 0.5em 1.75em 0.5em 0;
	height: 88px;
	display: inline-block;
	background: white;

}

#container > img:hover {

	cursor: pointer;

}

#bottom > p {

	text-indent: 0;

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px){ 

	body {

		font-size: 30px;

	}

	p {
	
		max-width: 100%;

	}

	a {

		border-bottom: solid 3px white;

	}

	a:hover {

		border-bottom: solid 3px palegreen;

	}

	#container > img {

		margin: 0.25em 0.87em 0.25em 0;

	}

}










