* {
	margin: 0;
	padding: 0;
}

*::selection {
	color: greenyellow;
}

body {
	display: inline-block;
	margin: 1.8em 2.3em;
	font-family: serif;
	font-size: 22px;
	line-height: 1.38em;
	letter-spacing: 1.1px;
	background: mintcream;
	color: purple;
}

b {
	letter-spacing: 1.5px;
}

.container {
	width: 450px;
}

.space--large {
	padding-bottom: 1.38em;
}

.space--small {
	padding-bottom: .69em;
}

.space--medium {
	padding: 1.03em 0;
}

.border {
	border-top: 5px solid greenyellow;
}

.border:last-of-type {
	border-bottom: 5px solid greenyellow;
}

@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px){ 

	body {
		margin: 1.2em;
		font-family: serif;
		font-size: 55px;
		line-height: 1.38em;
		letter-spacing: 2.5px;
	}

	b {
		letter-spacing: 3.2px;
	}

	.container {
		width: 100%;
	}

	.border {
		border-top: 10px solid greenyellow;
	}

	.border:last-of-type {
		border-bottom: 10px solid greenyellow;
	}

}