* {
	padding: 0; 
	margin: 0;
} 

body {
	font-family: courier;
	font-size: 14px;
	font-weight: bold;
	color: teal;
}

canvas {
	position: absolute;
	top: 6.2rem;
	left: 50%;
	transform: translateX(-50%);
}

.container {
	position: absolute;
	left: 50%;
	width: 500px;
	transform: translateX(-50%);
}

.buttons-container {
	width: 500px;
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.button,
a.button {
	position: relative;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-right: 5px;
	padding: 10px;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	text-decoration: none;
	border: none;
	outline: none;
	border-radius: 6px;
	color: inherit;
	background: lightcyan;
}


.button:hover {
	cursor: pointer;
}

/*.code-container {
	display: inline-block;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translateX(-50%);
	width: 500px;
	border-top: solid 2px teal;
	border-bottom: solid 2px teal;
	margin-bottom: 30px;
	background: lightcyan;

}

.code__header {
	padding: 10px;
	border-bottom: solid 2px teal;
}

.code__body {
	padding: 10px;
}*/