:root {
	--color-light: #3D57FF;
	--color-dark: #00062C;
	--color-accent: #F9BCEA;
	--space-sm: 1rem;
	--space-md: 1.625rem;
	--space-lg: 2.03rem;
	--space-xl: 6.09rem;
}

::selection {
	color: var(--color-dark);
	background: var(--color-light);
}

@font-face {
	font-family: "helvetica-neue";
	font-weight: normal;
	src: url(../assets/fonts/helvetica-neue/helvetica-neue-medium.ttf);
}


* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased
}

body {
	margin: 1.5rem var(--space-md);
	font-family: "helvetica-neue";
	font-weight: normal;
	font-size: 1.625rem;
	line-height: 1.25;
	letter-spacing: 0.05rem;
	color: var(--color-light);
	background: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}

li {
	margin-left: var(--space-md);
}

header {
	margin-bottom: var(--space-xl);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.header__month {
	display: flex;
	justify-content: flex-end;
}

.grid {
	margin: auto;
	width: 80%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.cell {
	height: var(--space-xl);
}

.cell__number--filled {
	color: var(--color-accent);
}

.cell__number--filled:hover {
	cursor: pointer;
	color: var(--color-light);
}

.cell__entry {
	display: none;
	position: fixed;
	background: var(--color-dark);
}

.cell__number--filled:hover + .cell__entry {
    display: block;
}